html {
    font-size: 16px;
    color: white;
    background-color: rgb(26, 105, 170);
    text-align: center;
  }
  
  .header {
    height: 59px;
    position: fixed;
    display: block;
    width: 100%;
    top: 0px;
    left: 0px;
}

.nav_bar {
    height:100%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(26, 105, 170);
}

.nav_bar  a {
    height: 100%;
    display: table;
    float: left;
    padding: 5px 0px;
    margin-right: 20px;
    font-size: 1.3rem;
    text-decoration: none;
}

.nav_bar  a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
}

.banner {
    margin-top: 59px;
    height: 500px;
    width: 100%;
    display: flex;

    background-image: url('img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner .title{
    margin: auto;
    width: 100%;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.content{
    width: 59%;
    margin: auto;
}

.projects {
    margin-top: 40px;
    padding-top: 20px;
    background-color: rgb(21, 131, 221);
}
.projects_container{
    width: 60%;
    margin: auto;
    display: flex;
}

.project img {
    height: 300px;
}

.project { 
    margin: auto;
    padding: 20px;
}